body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url("/Background\ \(4\).png");
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
  color: #fff;
}

select,
input[type="text"],
button {
  padding: 10px;
  border: none;
  border-radius: 4px;
}

select {
  background-color: #4CAF50;
  color: #fff;
}

input[type="text"] {
  background-color: #fff;
  color: #333;
}

button {
  background-color: #FF4500;
  color: #fff;
  cursor: pointer;
}

#bookContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.book-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #fff;
}

.book-card img {
  max-width: 100%;
  height: auto;
}

.book-card h2 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}

.book-card p {
  margin: 5px 0;
  color: #666;
}

.book-card a {
  display: block;
  margin-top: 10px;
  color: #FF4500;
  text-decoration: none;
  font-weight: bold;
}

